.wrapper {
  border: 1px solid black;
  box-sizing: border-box;
}

.hiddenRow {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid black;
}

.ghost {
  opacity: 0.5;
}

.piece {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
