.board {
  padding-top: 60px;
  margin: 0 auto;
  width: 960px;
}

#pieces {
  .board-pieces-container {
    text-align: center;
  }

  .inner-board-pieces-container {
    margin: 0 auto;
    padding: 0;
    float: none;
    border-top: none;
  }
}

