.cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;

  .hidden-row & {
    border: none;
    border-bottom: 1px solid black;
  }
}

.cell-container {
  max-height: 20px;
  position: relative;
}


