.wrapper {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.header {
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.colorblindContainer, .ghostContainer, .queueContainer, .audioContainer {
  display: flex;
  justify-content: space-between;
}
