body {
  background-image: url("https://raw.githubusercontent.com/PhilVargas/tetris/master/vendor/assets/images/tetris-background.jpg")!important;
  background-size: 100%!important;
}

.board {
  padding-top: 60px;
  margin: 0 auto;
  width: 960px;
}

.code {
  display: inline;
  background-color: lightgray;
  padding: 0 5px;
}
#pieces {

}

.cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
}

.hidden-row .cell {
  border: none;
  border-bottom: 1px solid black;
}

.piece-cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  z-index: 3;
  position: absolute;
}

.ghost-cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  z-index: 2;
  position: absolute;
  opacity: .5;
}

.next-cell, .queue-cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  z-index: 2;
  position: absolute;
}

.next-cell, .queue-cell {
  position: absolute;
}

.pieces-container, .pieces-title {
  position: relative;
}

#queue-piece-container {
  padding-top: 15px;
}

.pieces-title {
  text-align: center;
}

.pieces-container {
  border: 1px solid black;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

.pieces-container.disabled .next-cell {
  display: none;
}

.pieces-container.disabled {
  background: gray;
  opacity: .25;

}

.cell-container {
  max-height: 20px;
  position: relative;
}

.queue-legend {
  font-size: 15px;
}

#pieces .board-pieces-container {
  text-align: center;
}

#pieces .inner-board-pieces-container {
  margin: 0 auto;
  padding: 0;
  float: none;
  border-top: none;
}

.score-container, .level-container {
  text-align: right;
}

.incremented-score {
  display:none;
}

.incremented-score-enter {
  display: inherit;
  opacity: 1;
}

.incremented-score-enter.incremented-score-enter-active {
  display: inherit;
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

#board-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 5;
  display: none;
}

#board-overlay.active {
  display: inherit;
}

#pause-display-container, #start-button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#pause-display-container .icon-pause {
  color: white;
  width: 40px;
  height: 40px;
  background-color: inherit;
}
