.board {
  padding-top: 60px;
  margin: 0 auto;
  width: 960px;
}

.code {
  display: inline;
  background-color: lightgray;
  padding: 0 5px;
}
#pieces {

}

.cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
}

.piece-cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  z-index: 3;
  position: absolute;
}

.ghost-cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  z-index: 2;
  position: absolute;
  opacity: .5;
}

.next-cell, .queue-cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  z-index: 2;
  position: absolute;
}

.next-cell, .queue-cell {
  position: absolute;
}

.pieces-container, .pieces-title {
  position: relative;
}

#queue-piece-container {
  padding-top: 15px;
}

.pieces-title {
  text-align: center;
}

.pieces-container {
  border: 1px solid black;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

.pieces-container.disabled {
  background: gray;
  opacity: .25;

}

.cell-container {
  max-height: 20px;
  position: relative;
}

.queue-legend {
  font-size: 15px;
}

#pieces .board-pieces-container {
  text-align: center;
}

#pieces .inner-board-pieces-container {
  margin: 0 auto;
  padding: 0;
  float: none;
}
