.board {
  margin: 0 auto;
  width: 960px;
}
#audio-container {
  /* display: none; */
}

.cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
}

.piece-cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  z-index: 3;
  position: fixed;
}

.ghost-cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  z-index: 2;
  position: fixed;
  opacity: .5;
}

.next-cell, .queue-cell {
  width: 100%;
  max-width: 20px;
  height: 20px;
  border: 1px solid black;
  z-index: 2;
  position: absolute;
}

.next-cell, .queue-cell {
  position: absolute;
}

.pieces-container, .pieces-title {
  position: relative;
}

.pieces-container {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

.pieces-container.disabled {
  background: gray;
  opacity: .25;

}

.cell-container {
  max-height: 20px;
  position: fixed;
}
